{% extends '../layout.twig' %}

{% block body %}
	<style>
		.card-list-user {
			display: flex;
			align-content: center;
			justify-content: space-between;
			align-items: center;
		}
	</style>
	<div class="d-flex justify-content-center mt-5">
		<div class="card">
			<div class="card-header card-list-user">
				<span>Liste des utilisateurs</span>
				<a href="/users/create_form" class="btn btn-primary" role="button" aria-pressed="true">Création d'un utilisateur</a>
			</div>
			<div class="card-body">
				<table class="table">
					<tr>
						<th>Nom d'utilisateur</th>
						<th>Mail</th>
						<th>Age</th>
						<th>Actions</th>
					</tr>

					{% for user in users %}

						<tr>
							<td>{{user.username}}</td>
							<td>{{user.email}}</td>
							<td>{{user.age}}</td>
							<td>
								<a href="/users/user/{{user._id}}">
									<svg width="24px" height="24px" viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
										<title>Voir</title><path d="M24,40C12.33,40,2.8,28.13.16,24.49a0.83,0.83,0,0,1,0-1C2.8,19.87,12.33,8,24,8S45.19,19.86,47.84,23.5a0.84,0.84,0,0,1,0,1h0C45.19,28.14,35.66,40,24,40ZM1,24c2.67,3.65,11.87,15,23,15S44.3,27.64,47,24C44.31,20.36,35.1,9,24,9S3.71,20.35,1,24Z"/><path d="M24,31a7,7,0,1,1,7-7A7,7,0,0,1,24,31Zm0-13a6,6,0,1,0,6,6A6,6,0,0,0,24,18Z"/><rect width="48" height="48" fill="none"/></svg>
								</a>
							</td>
						</tr>
					</td>
				</tr>
			{% endfor %}

			{% if users|length == 0 %}
				<tr>
					<td colspan="4">Aucun utilisateur a été créer
						<a href="/users/create_form">Cliquer ici pour en créer un</a>
					</td>
				</tr>
			{% endif %}
		</table>
	</div>

	<div class="card-footer">
		<a href="/">
			<button type="button" class="btn btn-primary">Retour arrière</button>
		</a>
	</div>
</div></div>{% endblock %}
